# permissions for end users to edit networkglobals.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: networkglobal-editor-role
rules:
- apiGroups:
  - core.core.gardener.cloud
  resources:
  - networkglobals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.core.gardener.cloud
  resources:
  - networkglobals/status
  verbs:
  - get
